body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	overflow-y: hidden;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 1000px;
	height: 500px;
	display: flex;
	margin: auto;
	margin-top: calc(50vh - 250px);
}
.left-div {
	background-image: url("gif.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 500px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.left-content {
	padding: 60px;
	color: #Fff;
}
.left-content h1 {
	font-size: 40px;
}
.left-content h2 {
	font-size: 18px;
}
.right-div {
	background: #fff;
	height: 500px;
	width: 500px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.right-content {
	display: flex;
	flex-direction: column;
	padding: 50px;
	padding-top: 20px;
}
input {
	height: 50px;
	outline: none;
	border: none;
	border-bottom: 4px solid pink;
	font-size: 17px;
}
.continue-btn {
	margin-top: 20px;
	height: 45px;
	background: linear-gradient(90deg, rgba(175,0,231,1) 17%, rgba(255,0,181,1) 100%);;
	color: #Fff;
	border: none;
	cursor: pointer;
	margin-top: 30px;
}
p {
	text-align: center;
	color: grey;
	font-size: 15px;
	margin: 30px;
}
.btn-twt button, .btn-fc button {
	height: 45px;
	margin-bottom: 15px;
	width: 100%;
	border: none;
	color: #Fff;
	cursor: pointer;
}
.btn-twt button {
	background: linear-gradient(90deg, rgba(0,130,203,1) 21%, rgba(0,215,255,1) 100%);
}
.btn-fc button {
	background: linear-gradient(90deg, rgba(0,75,203,1) 21%, rgba(31,71,154,1) 100%);

}
i {
	padding-left: -300px;
	font-size: 20px;
	padding-right: 20px;
}
.fa-facebook-f {
	
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px) {
	.container {
	  width: 800px;
	  margin-top: calc(50vh - 350px);
	}
	.left-div {
		height: 700px;
	}
	.right-div {
		height: 700px;
	}	
	.continue-btn, .btn-twt button, .btn-fc button, input  {
		height: 60px;
	}
	input {
		font-size: 19px;
	}
	.btn-twt button, .btn-fc button  {
		margin-bottom: 20px;
	}
	.right-content {
		padding-top: 70px;
	}
}



@media screen and (max-width: 900px) {
	body {
		overflow-y: scroll;
		overflow-x: hidden;
		
	}
	.container {
		flex-direction: column;
		align-items: center;
		margin-top: 0px;
		height: 100vh;
		width: 100vw;
	}
	.left-div {
		width: 100vw;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px;
		border-radius: 0px;
	}
	.right-div {
		width: 100vw;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 20px;
		border-radius: 0px;
	}
	.titulo {
		font-size: 40px;
	}
	input {
		font-size: 21px;
	}
  } 